
.container {
    max-width: 678px;
    position: relative;
    margin: auto;
    border: 2px solid silver;
    background-color: aquamarine;
}

.img-container {
    display: none;
    border: 3px solid rebeccapurple;
    box-shadow: 10px 5px 5px red;
    text-align: center;
    margin: 1rem;
}

img {vertical-align: middle;}

.transition {
    animation-name: fade;
    animation-duration: 5.5s;
    animation-timing-function: ease-out;
}

@keyframes fade {
    0%,100% {opacity: 0}
    50% {opacity: 1}
}